@font-face {
  font-family: ' ';
  src: url(" ") format("woff2"), url(" ") format("woff"), url(" ") format("truetype"); }
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: #fff;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #111; }

a,
button,
input,
select,
textarea,
label,
summary {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 1em; }

p:last-of-type {
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: #bada55; }
  a:visited {
    color: #bada55; }
  a:hover {
    text-decoration: none;
    color: #004400;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  a:focus {
    outline: none;
    color: #111; }
  a:hover, a:active {
    outline: 0; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

button:focus, button:active {
  outline: none;
  box-shadow: none;
  border: none; }

.btn {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 0px;
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
  color: #111;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .btn:visited {
    background-color: #f5f5f5;
    border: 0px none gainsboro;
    color: #111;
    text-decoration: none; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: gainsboro;
    border-color: #c2c2c2;
    color: #111;
    text-decoration: none; }

.btn--primary {
  background-color: #bada55;
  border-color: #a8cf2d;
  color: #fff; }
  .btn--primary:visited {
    background-color: #bada55;
    border-color: #a8cf2d;
    color: #fff;
    text-decoration: none; }
  .btn--primary:hover, .btn--primary:focus, .btn--primary:active {
    background-color: #a8cf2d;
    border-color: #86a524;
    color: #fff; }

.btn--mini {
  padding: 3px 12px 4px;
  font-size: 14px; }

a.btn--mini {
  padding-top: 0;
  padding-bottom: 1px; }

.btn--small {
  padding: 6px 20px;
  font-size: 16px; }

a.btn--small {
  padding-top: 3px;
  padding-bottom: 3px; }

.btn--large {
  padding: 10px 24px;
  font-size: 24px; }

a.btn--large {
  padding-top: 8px;
  padding-bottom: 8px; }

.btn--block {
  display: block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=master.css.map */